  body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 200vh;
    justify-content: left;
  }
  
  h1 {
    margin-bottom: 20px;
  }

  header {
    padding: 15px;
    text-align: center;
    background: darkcyan;
    color: white;
  }

img {
  border: solid white;
}

  nav {
    display: flex;
    background-color: peachpuff;
    justify-content: center;
    font-size: 18px;
  }
  
  nav a {
    color: black;
    padding: 16px 40px;
    text-decoration: none;
    text-align: right;
  }
  
  nav a:hover {
    color: purple;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  
.mainitem {
  flex: 2 1 auto;
  background: white;
  min-height: 300px;
  border: solid 1px;
  margin: 5px;
  text-align: center;
  font-size: 2em;
  color: darkcyan;
  font-weight: bold;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row a {
  width: 48%;
  margin: 5px;
}

 .item {
  background: white;
  min-height: 100px;
  width: 100%;
  border: solid 1px;

  text-align: center;
  font-size: 2em;
  color: darkcyan;
  font-weight: bold;
 }

  span{
    font-weight: normal;
 }

 .content {
  width: 80%;
  min-height: 100px;
 }

 section {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
 }

.title {
  width: 20%;
 }

 .class {
  width: 10%;
 }

#project1 {
  background-image: url(../images/mmss.png);
  background-size: cover;
  background-position: center;
}

#project2 {
  background-image: url(https://pederson-inspections.herokuapp.com/);
  background-size: cover;
  background-position: center;
}

#project3 {
  background-image: url(../images/inprogress.jpg);
  background-size: cover;
  background-position: center;
}

#project4 {
  background-image: url(../images/inprogress.jpg);
  background-size: cover;
  background-position: center;
}
#project5 {
  background-image: url(../images/inprogress.jpg);
  background-size: cover;
  background-position: center;
}